h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bolder;
  font-size: 36px;
}

h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
}

h3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}